
mat-toolbar {
    background-color: #476079;
    padding: 0 5%;
}
button {
    background-color: #476079;
}
button:hover {
    cursor: pointer;
    background-color: #2166aa;
}
.example-icon {
    padding: 0 14px;
}
.example-spacer {
    flex: 1 1 auto;
}